nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav li {
    border: 1px solid black;
    width: 200px;
    background-color: red;
    padding: 0px;
    margin-right: 24px;
    color: white;
    display: inline-block;
}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 24px;
}

nav li a:hover {
    background-color: maroon;

}